flask==2.3.2
flask-cors==6.0.0
Flask-WTF==1.2.1
pika==1.2.1
pydantic==1.10.13
opensearch-py==3.0.0
requests==2.32.4
bump2version==1.0.1
nltk==3.9.1
scipy==1.13.1
scikit-learn==1.5.0
imbalanced-learn==0.12.3
numpy==1.23.5
xgboost==1.7.3
python-dateutil==2.8.2
minio==7.2.11
gensim==4.3.3
pandas==1.5.3
urllib3==2.5.0
werkzeug==3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2025.8.3
