name: Add GitHub release version to Jira issues

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  call-jira-sync:
    name: Call Jira versions update
    uses: reportportal/.github/.github/workflows/update-jira-versions.yaml@19701f281bc74246cf273735cda548050606f017
    with:
      jira-server: ${{ vars.JIRA_SERVER }}
    secrets:
      JIRA_TOKEN: ${{ secrets.JIRA_TOKEN }}
